<main style="padding: 2rem">
  <h1 style="font-family: fredoka, sans-serif; font-size: 2rem">Cadastrar nova área</h1>
  <form [formGroup]="formArea" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Nome da área</mat-label>
      <input matInput placeholder="Nome da área" required [formControl]="formArea.controls.nomeArea" maxlength="255">
      <mat-error *ngIf="formArea.controls.nomeArea.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <div class="form-actions" style="display: flex; justify-content: space-between">
      <button mat-raised-button type="button" color="disabled" (click)="this.voltarTelaConsulta()"><mat-icon style="margin-right: 1rem">cancel</mat-icon>Cancelar</button>
      <ng-container *ngIf="_isProcessing else readyToAdd">
        <button mat-raised-button type="button" color="primary"><mat-spinner></mat-spinner>Processando...</button>
      </ng-container>
      <ng-template #readyToAdd>
        <button mat-raised-button type="submit" color="primary"><mat-icon style="margin-right: 1rem">add</mat-icon>Salvar</button>
      </ng-template>
    </div>
  </form>
</main>
