.planto-iot-text-title {
  h1 {
    font-family: fredoka, sans-serif;
    font-size: 2rem;
  }
}

.planto-iot-sidenav {
  mat-list-item h4 {
    font-family: 'Josefin Sans', sans-serif; font-size: 1.5rem;
  }
}
