.planto-iot-text-title {
  h1 {
    font-family: fredoka, sans-serif;
    font-size: 4rem;
  }
}

.planto-iot-login-input-fields-form {
  .mat-form-field {
    * {
      font-family: 'Josefin Sans', sans-serif;
    }
  }
}
